.pln{ /*plain text*/
	color:#000
}

@media screen{
	.str{ /*string colors*/
		color:#080
	}

	.kwd{ /*keyword colors*/
		/*color:#008*/
		color:#00009a
	}

	.com{ /*comment colors*/
		color:#800
	}

	.typ{ /*type colors*/
		/*color:#606*/
		color: #9f009f
	}

	.lit{ /*literal colors*/
		color:#066
	}

	.pun,.opn,.clo{ /*punctuation, lisp open bracket, lisp color bracket color*/
		color:#660
	}

	.tag{ /*html/xml tag colors*/
		color:#008
	}

	.atn{ /*html/xml attribute name color*/
		color:#606
	}

	.atv{ /*html/xml attribute value*/
		color:#080
	}

	.dec,.var{ /*declaration, variable color*/
		color:#606
	}

	.fun{ /*function name color*/
		color:red}
	}

/*use higher contrast and text weight for printable form*/
@media print,projection{
	.str{
		color:#060
	}

	.kwd{
		color:#006;
		font-weight:bold
	}

	.com{
		color:#600;
		font-style:italic
	}

	.typ{
		color:#404;
		font-weight:bold
	}

	.lit{
		color:#044
	}

	.pun,.opn,.clo{
		color:#440
	}

	.tag{
		color:#006;
		font-weight:bold
	}
	
	.atn{
		color:#404
	}

	.atv{
		color:#060
	}

}

/*puts a border around pretty printed code snippets*/
pre.prettyprint{
	padding:0.5em;
	border:1px solid #888
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums{
	margin-top:0;
	margin-bottom:0
}

/*line numbers*/
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{
	list-style-type:none
}

/*alternate shading for lines*/
li.L1,li.L3,li.L5,li.L7,li.L9{
	background:#eee
}




